.docs-category {
  margin: 2rem 0;
  text-align: center;
}

.category-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.docs-row {
  display: flex;
  justify-content: center;  
  gap: 2vw;               
  flex-wrap: wrap;         
}
